body, html {
  margin: 0;
  padding: 0;
    background:transparent;
}

body canvas {
  display: block;
  background: #ffffff;
}

a {
text-decoration: none;
color: black;
}

#header { 
font-size: max(40px, 4vw); 
padding-left: 10vw; 
padding-top: 10vw; 
}

#links {
padding-left: 10vw; 
padding-top: 2vw; 
}


#about {
padding: 5vw;
padding-left: 10vw
}

